{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select a Movie</h1>

    {% if movies %}
        <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ url_for('find', imdb=movie['imdbID']) }}">
                    {{ movie['Title'] }} ({{ movie['Year'] }})
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies found. Try another title.</p>
    {% endif %}
</div>
{% endblock %}
